<template>
  <div class="home">
    <div class="main-content">
      <!-- main grid -->
      <md-layout md-gutter>
        <!-- main image -->
        <md-layout  md-flex-xsmall="100" md-flex-small="100" md-flex-medium="60" md-flex-large="70" md-flex-xlarge="70">
          <div class="main-image__container">
            <img :src="collection.webImage.url"/>
          </div>
        </md-layout>
        <!-- /main image -->
        <!-- main content card card -->
        <md-layout md-flex-xsmall="100" md-flex-small="100" md-flex-medium="40" md-flex-large="30" md-flex-xlarge="30" class="layout__card-container">
          <md-card>
            <md-tabs>
              <md-tab id="collection__work" md-label="Work">
                <div class="collection__title">{{ collection.title }}</div>
                <p class="collection__maker" v-for='maker in collection.principalMakers'>{{ maker.name }}, <i> {{ maker.dateOfBirth | formatDate }} ({{ maker.placeOfBirth }}) - {{ maker.dateOfDeath | formatDate }} ({{ maker.placeOfDeath }})</i> </p>
                  <p>Pallet</p>
                  <div class="swatches">
                    <div class="swatches__swatch" v-for="color in collection.colors" :style="{ 'background-color': color }">
                      <md-tooltip md-direction="bottom">{{ color }}</md-tooltip>
                    </div>
                  </div>
              </md-tab>

              <md-tab id="collection__description" md-label="Description">
                <p>{{ collection.description }}</p>
              </md-tab>
            </md-tabs>
          </md-card>
        </md-layout>
        <!-- /main content card card -->
      </md-layout>
    </md-layout>
  </div>
</div>
</template>

<script>
import axios from 'axios'

export default {
  data () {
    return {
      collection: []
    }
  },
  created: function () {
    this.loadCollection(this.$route.params.id)
  },
  methods: {
    loadCollection: function (collectionID) {
      axios.get(`https://www.rijksmuseum.nl/api/en/collection/${collectionID}?key=Mx7Pel0y&format=json`)
      .then(response => {
        // save the artObjects json object
        this.collection = response['data']['artObject']
      })
      .catch(function (error) {
        console.log(error)
      })
    }
  },
  filters: {
    formatDate: function (value) {
      var unformattedDate = new Date(value)
      return unformattedDate.toLocaleDateString('en-GB')
    }
  }
}
</script>

<style lang="scss">
.main-image__container {
  margin: 8px auto;

  img {
    max-height: 100vh;
    max-width: 90%;
  }
}

.collection__title {
  font-size: medium;
}

.collection__maker {
  font-weight: lighter;

  i {
    font-size: 12px;
  }
}

.swatches {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;

  .swatches__swatch {
    flex-grow: 1;
    height: 40px;
    width: 40px;
  }
}
</style>
