<template>
  <div class='filter'>
    {{ msg }}
  </div>
</template>

<script>
export default {
  data () {
    return {
      msg: 'Filter'
    }
  },
  created: function () {
    console.log(this.msg + ' created')
  }
}
</script>

<style lang='scss'>
</style>
