<template>
  <div class="home">
    <!-- pagination controlls TODO nest this component -->
    <div class="pagination">
      <div class="pagination__controlls">
        <md-button :disabled="page <= 1" @click.native="backPage">Back</md-button>
        <span>{{ page }} ... {{ pageCount }}</span>
        <md-button :disabled="page >= pageCount" @click.native="nextPage">Next</md-button>
      </div>
    </div>
    <!-- end pagination controlls -->

    <!-- main content -->
    <div class="main-content">
      <md-layout md-gutter>

          <filter></filter>
        <md-layout  v-for="artObject in artObjects" md-flex-xsmall="100" md-flex-small="50" md-flex-medium="33" md-flex-large="25" md-flex-xlarge="20" class="layout__card-container">
          <!-- artObject card -->
          <md-card md-with-hover >
            <router-link :to="{ name: 'Collection', params: { id: artObject.objectNumber, searchTerm: this.searchTerm, page: this.page }}">
              <md-card-area>
                <md-card-media :style="{ 'background-image': 'url(' + artObject.webImage.url + ')' }">
                </md-card-media>
                <div class="swatches">
                  <div class="swatches__swatch" v-for="color in artObject.colors" :style="{ 'background-color': color }">
                    <md-tooltip md-direction="bottom">{{ color }}</md-tooltip>
                  </div>
                </div>
              </md-card-area>
              <md-card-content>
                <p><b> {{ artObject.longTitle.split(", ")[0] }} </b></p>
                <p>{{ artObject.principalOrFirstMaker }}</p>
              </md-card-content>
            </router-link>
          </md-card>
          <!-- /artObject card -->
        </md-layout>
      </md-layout>
    </div>
    <!-- /main content -->

    <!-- pagination controlls TODO nest this component -->
    <div class="pagination">
      <div class="pagination__controlls">
        <md-button :disabled="page <= 1" @click.native="backPage">Back</md-button>
        <span>{{ page }} ... {{ pageCount }}</span>
        <md-button :disabled="page >= pageCount" @click.native="nextPage">Next</md-button>
      </div>
    </div>
    <!-- end pagination controlls -->
  </div>
</template>

<script>
import axios from 'axios'

import filter from './Filter.vue'

export default {
  props: [
    'searchTerm'
  ],
  components: {
    filter
  },
  data () {
    return {
      collections: [],
      artObjects: [],
      itemsPerPage: 15,
      totalItemsCount: 1,
      page: 0,
      canSearch: true
    }
  },
  activate: function () {
    console.log('active')
  },
  deactivate: function () {
    console.log('deactive')
  },
  created: function () {
    console.log('created')
    this.loadFirstCollections()
  },
  computed: {
    pageCount: function () {
      return Math.round(this.totalItemsCount / this.itemsPerPage)
    }
  },
  watch: {
    /**
    * Watch for changes on the SearchTerm prop
    * and send query to api
    */
    'searchTerm': function () {
      this.page = 0
      this.searchApi(this.searchTerm)
    }
  },
  methods: {
    /**
    * App started, show first collections
    */
    loadFirstCollections: function (page = 0) {
      axios.get(`https://www.rijksmuseum.nl/api/en/collection?key=Mx7Pel0y&format=json&p=${page}&ps=${this.itemsPerPage}`)
      .then(response => {
        this.setupCollectionObjects(response['data'])
      })
      .catch(function (error) {
        console.log(error)
      })
    },
    /**
    * Send search request to api
    * @param    query    String to search for
    */
    searchApi: function (term, page = 0) {
      if (term.length > 0) {
        axios.get(`https://www.rijksmuseum.nl/api/nl/collection?q=${term}&key=Mx7Pel0y&format=json&p=${page}&ps=${this.itemsPerPage}`)
        .then(response => {
          this.setupCollectionObjects(response['data'])
        })
        .catch(function (error) {
          console.log(error)
        })
      } else {
        this.loadFirstCollections()
      }
    },
    /**
    * Get data from api reponse and build arrays
    * @param    responseData    The data object from the api response
    */
    setupCollectionObjects: function (responseData) {
      this.totalItemsCount = responseData['count']
      this.artObjects = []

      for (let object of responseData['artObjects']) {
        this.addArtObjectToCollection(object['objectNumber'])
      }
    },
    /**
    * Add the colors from the art object to the objectColors array
    * @param    objectNumber    The number of the artObject to add to the array
    */
    addArtObjectToCollection: function (objectNumber) {
      axios.get(`https://www.rijksmuseum.nl/api/en/collection/${objectNumber}?key=Mx7Pel0y&format=json&p=${this.page}&ps=${this.itemsPerPage}`)
      .then(response => {
        this.artObjects.push(response.data.artObject)
      })
      .catch(function (error) {
        console.log(error)
      })
    },
    /**
    * Return an array of colors for an art object
    * @param    objectNumber    The number of the art object
    */
    getObjectColorsFromCollection: function (objectNumber) {
      console.log('why so many calls?')
      return this.artObjects.filter(function (color) {
        return color.objectNumber === objectNumber
      })[0]['colors']
    },
    backPage: function () {
      this.page --
      if (this.searchTerm.length > 0) {
        this.searchApi(this.searchTerm, this.page)
      } else {
        this.loadFirstCollections(this.page)
      }
    },
    nextPage: function () {
      this.page ++
      if (this.searchTerm.length > 0) {
        this.searchApi(this.searchTerm, this.page)
      } else {
        this.loadFirstCollections(this.page)
      }
    }
  }
}
</script>

<style lang="scss">
.pagination {
  display: flex;
  justify-content: center;
  .pagination__controlls {
    align-items: center;
    display: flex;
  }
}
.md-card {
  margin: 8px;
  width: 100%;

  .md-card-media {
    height: 280px;
    background-size: cover;
    background-position: top center;
  }
}
.swatches {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;

  .swatches__swatch {
    flex-grow: 1;
    height: 40px;
    width: 40px;
  }
}
</style>
