<template>
  <div id="app">
    <!-- tool bar -->
    <md-toolbar class="md-small">
      <div class="md-toolbar-container">
        <h2 class="md-title" style="flex: 1;">{{ title }}</h2>
        <md-input-container>
          <label>Search</label>
          <md-input v-model="search"></md-input>
        </md-input-container>
      </div>
    </md-toolbar>
    <!-- component view -->
    <!--keep-alive include="Home" exclude="Collection"-->
      <router-view :searchTerm=search></router-view>
    <!--/keep-alive-->
  </div>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {
      title: 'Rijksmuseum',
      search: ''
    }
  }
}
</script>

<style lang="scss">

.md-card {
  .md-card-content {
    color: rgba(0, 0, 0, .87);
  }

  a:hover {
    color: rgba(0, 0, 0, .87) !important;
  }
}
</style>
